// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: image-url('bg.png');
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.footer {
  text-align: center;
  padding-top: 18px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.label {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.tag-filter {
  padding-left: 16px;
  font-size: 1.2em;
}

.label-warning {
  background-color: #f0ad4c !important;
  transition: all 0.3s;
}

.todo-new {
  margin-bottom: 20px;
}

.todo-list tr td {
  cursor: pointer;
}

#tag-remove-button {
  cursor: pointer;
  font-size: 12px;
}

#pending-tags {
  text-align: center;
}

td.todo-tick, td.todo-delete {
  text-align: center;
}

td.todo-title {
  width: 75%;
  // max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.todo-done .todo-title {
  text-decoration: line-through;
  color: gray;
}

.well p::first-letter {
  font-size: 180%;
  text-weight: 8px;
}

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}