<div class="container">
  <div class="header">
    <nav>
      <ul class="nav nav-tabs pull-right" role="tablist">
        <li role="presentation" class="active">
          <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
            <span class="fa fa-list"></span> Home
          </a>
        </li>
        <li role="presentation">
          <a href="#about" aria-controls="about" role="tab" data-toggle="tab">
            <span class="fa fa-quote-left"></span> About
          </a>
        </li>
      </ul>
    </nav>
    <h1 class="text-muted"><span class="fa fa-list-alt fa-lg"></span> Todo on Rails</h1>
  </div>
  <br>
  
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="row">
        <div class="tags col-md-4 col-sm-4">
          <a class="tag-filter default-tag-filter" data-remote="true" href="/todos"><span class="label label-default">All</span></a>
          <div class="all-tags"></div>
        </div>
        <div class="todo col-md-8 col-sm-8">
          <%= render partial: 'new', locals: {todo: @todo} %>
          <%= render partial: 'list', locals: {todos: @todos} %>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="about">
      <div class="well">
        <p>
          This is a simple single page todo app done for the 2014 CVWO Assignment 3. <a href="https://github.com/xinan/todo-on-rails"><span class="fa fa-github fa-2x"></span></a>
        </p>
      </div>
    </div>
  </div>

  <footer class="footer">
    <p>Copyright &copy; <%= Time.now.year %> Liu Xinan</p>
  </footer>

</div>